*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Garamond', Garamond, Serif;
    color: rgb(11, 44, 49);
    background-color: rgb(155, 220, 220);

}

.container {
    width: 96%;
    margin: 1rem auto;
    border-radius: 20px;
    max-width: 700px;
    box-shadow: rgba(11, 44, 49, 0.16) 0px 3px 6px, rgba(11, 44, 49, 0.23) 0px 3px 6px;
    background-color: rgb(244, 246, 243);
}

/* header */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 80px;
    font-family:'Courier New', Courier, monospace, Serif;
    border-radius: 20px;
    border: 2px solid rgb(9, 9, 9);
    width: 770px;
    margin-left: 320px;

}
/* my-form */
.convert-form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    padding: 1.5rem 3rem;
}

.convert-form>div {
    margin-bottom: 1.2rem;
}
.convert-btn:hover{
    background-color: #4797e3;
    color: white;
    transform: scale(1.03);
}

label,
span {
    display: block;
    margin-bottom: .5rem;
    font-size: 1.2rem;
}

.display-result {
    height: 1.2rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input-degree,
#degree-type,
#convert-type,
.convert-btn {
    padding: .5rem .6rem;
    font-size: 1.2rem;
    width: 12rem;
    border-radius: 5px;
}

.input-degree,
#degree-type,
#convert-type {
    background-color: rgb(255, 255, 255);
    outline: none;
    border: 2px solid rgb(179, 210, 213);
}

.convert-btn {
    background-color: #4797e3;
    color: rgb(249, 251, 248);
    border: 2px solid #4797e3;
}

.error {
    color: red;
    text-transform: capitalize;
    padding: 1rem 3rem;
    line-height: 1.5;
    height: 2rem;
}

.display {
    padding: 1rem 3rem;

}

.display-result {
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 550;
}

@media only screen and (min-width: 768px) {
    header {
        height: 4rem;
    }

    header a h1 {
        font-size: 2rem;
    }

    .convert-form {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .convert-form>div {
        margin-right: 1.2rem;
        margin-bottom: 0;
    }

    #degree-type,
    #convert-type,
    .convert-btn {
        width: auto;
    }


    #degree-type,
    #convert-type {
        font-size: 1.2rem;
    }

    .convert-btn {
        align-self: flex-end;
    }

    .error {
        font-size: 1.2rem;
        padding: 1rem 2rem;
    }

    .display {
        padding: 1rem 2.7rem;
    }
}
.developer{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-color);
    padding: var(--main-padding);
    color: #070707;
    font-size: 16px;
    font-weight: 600px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 60px;
    margin-top: 20px;
    text-align: center;
}
.developer p a{
    font-size: 13px;
}